/* Extending defaults from Attribution.js and OSMEdit.js */
.ui-attribution a, .ui-osm-edit a,
.ui-attribution a:visited, .ui-osm-edit a:visited {
  color: #222;
  text-decoration: none;
}

  .ui-attribution a:hover, .ui-osm-edit a:hover {
    color: #222;
    text-decoration: underline;
  }