/* Extending defaults from Attribution.js */
.ui-attribution {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px 0 0;
  padding: 3px 5px;
}

.ui-attribution a {
  color: #222;
  text-decoration: none;
}

  .ui-attribution a:hover {
    text-decoration: underline;
  }